@charset "UTF-8";

.header{
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262626;
}

.header__logo{
    margin-bottom: 4rem;
    font-size: 2.6rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.header h3{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1rem;
    margin-bottom: 0.7rem;
    letter-spacing: 1px;
}

.header h1{
    font-size: 2.5rem;
    line-height: 0.875rem;
    color: #3BDEAE;
}

.header__text-top{
    margin-bottom: 3rem;
}

.header__text-bottom{
    margin-bottom: 2rem;
}

h3.header__text-top-padtop{
    margin-bottom: 0;
    margin-top: 0.9rem;
}

.header__button{
    font-size: 1rem;
    line-height: 0.5rem;
    padding: 1rem 1.5rem;
    min-width: 150px;
    max-width: 200px;
}