@charset "UTF-8";

/* PARAGRAPHS AND TITLES */

.paragraph{
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 1.5%;
}

.titlePrimary{
    font-size: 3.5rem;
    line-height: 3rem;
}

.titleSecundary{
    font-size: 3rem;
    line-height: 2rem;
}

.titleThirdLight{
    font-size: 2;
    line-height: 1.5rem;
    letter-spacing: 1%;
    font-weight: lighter;
}

.titleThirdBold{
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 1%;
    font-weight: bold;
}

.titleForm{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.textPlaceHolder{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: lighter;
}