@charset "UTF-8";

:root{
    /* COLORS */
    --buttonAndTextG: #22CD9B;
    --iconsG: #1ABF8F;
    --bgG: #22CD9B;
    --textButtonG: #005039;

    --bgBlackB: #262626;
    --bgOpacityB: #000000;
    --bgTranspB:  #1A1A1A;
    --textStrongB: #000000;
    --textMediumB: #262626;
    --textFaintB: #333333;

    --grayFooterB: #404040;

    --bgAndTextW: #FFFFFF;

    /* SPACINGS */
    --paddingSections: 10rem;
    --paddingBox: 3rem;
    --spaceQuests: 5rem;
    --spacing160: 10rem;
    --spacing100: 6.25rem;
    --spacing80: 5rem;
    --spacing60: 3.75rem;
    --spacing48: 3rem;
    --spacing32: 2rem;
    --spacing24: 1.5rem;
    --spacing20: 1.25rem;
    --spacing16: 1rem;
    --spacing12: 0.75rem;
    --spacing8: 0.5rem;
    --spacing4: 0.25rem;
}